@import "tailwindcss";

@layer components {
  /* Custom component styles can go here */
  .icon {
    @apply text-shadow-lime-100 text-xl;
  }

  .btn {
    @apply bg-lime-500 text-white px-4 py-2 hover:no-underline text-center hover:bg-lime-600 uppercase rounded-md transition-colors cursor-pointer;
  }
}
