@import "tailwindcss";

@layer base {
  /* Custom base styles can go here */
  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  p {
    @apply text-sm text-gray-300;
  }
}

@layer components {
  /* Custom component styles can go here */
  .icon {
    @apply text-shadow-lime-100 text-xl;
  }

  .btn {
    @apply bg-lime-500 text-white px-4 py-2 hover:no-underline text-center hover:bg-lime-600 uppercase rounded-md transition-colors cursor-pointer;
  }
}
